
// breakpoints
$break-point-xxxs : 360px;
$break-point-400 : 400px;
$break-point-xxs : 500px;
$break-point-xs : 768px;
$break-point-s : 1024px;
$break-point-m : 1300px;
$break-point-1400 : 1400px;
$break-point-1500 : 1500px;
$break-point-1600 : 1600px;
$break-point-l : 1700px; 
$break-point-xl : 1920px;
$break-point-xxl : 2000px;  


// colors
$black: #000000;
$white: #ffffff;
$medium-blue : #254cac;
$medium-blue-lighten : #506fbc;
$primary-blue : #338ff1;
$grey-blue:#e7ecf6;
$grey:#e5e5e5;
$grey-bg:#e9eef3;
$yellow:#ffe682;
$yellow-2:#ffd11b;

// fonts
$font: Verdana, sans-serif;
$font-size-base: 0.875em;
